
.post-card {
  display: flex;
  flex-direction: row;
  gap: 50px;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  padding: 30px;
  width: 500px;
  direction: rtl;
}



.post-img {
  border-radius: 100px;
}


.post-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.post-description {
  font-family: system-ui;
  font-size: 16px;
}


.post-user-date-like {
  font-family: system-ui;
  display: flex;
  gap: 30px;
  color: black;
  font-size: 14px;
  
  
}


.post-like {
  display: flex;
  flex-direction: row;
}