#root {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-card {
  display: flex;
  flex-direction: row;
  gap: 50px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 30px;
  width: 500px;
  background: #e3ebf8;
}



.post-img {
  border-radius: 10px;
}


.post-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.post-description {
  font-family: system-ui;
  font-size: larger;
}


.post-user-date-like {
  font-family: Arial;
  display: flex;
  gap: 50px;
  color: darkgray;
}


.post-like {
  display: flex;
  flex-direction: row;
}